// Import partials
@import 'index';
@import 'navbar';

// Global styling
  
body {
  margin: 0;
  background-image: url("/img/landscape-blur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Roboto', Helvetica, sans-serif, Arial;
}

head {
  font-family: 'Roboto', Helvetica, sans-serif, Arial;
}

.main-content {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

}

.main-image {
  max-width: 56%;
  max-height: 50%;
  margin-left: auto;
  margin-right: 5%;
  display: block;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
  float: right;
}
button {
  border-radius: 10px;
  font-size: 150%;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
}

.page-title {
  display: block;
  text-align: center;
  justify-content: center;
  color: white;
}

.image-details {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
  float: left;
  margin-left: 5%;
  word-wrap: break-word;
  font-size: 120%;
}

.voting-buttons {
  float: left;
  margin-left: 13%;
  margin-top: 1%;
}
.about {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
  word-wrap: break-word;
  font-size: 170%;
}